<%= form_with(model: [:admin, order], local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-check">
    <%= form.check_box :archived, class: 'form-check-input' %>

    <%= form.label :archived, class: 'form-check-label' %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.select :status,
                    choices = Order.statuses.keys.map { |w| [w.titleize, w] },
                    options = {
                        include_blank: false
                    },
                    html_options = {
                        class: "form-control"
                    } %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-accent btn-block" %>
  </div>
<% end %>
