<div class="container">

  <div class="row mt-3">

    <div class="col-md-10 mx-auto">

      <h3>Admin / Orders</h3>
      <hr>

      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <% Order.statuses.keys.each do |status| %>
            <a class="nav-item nav-link" id="nav-<%= status %>-tab" data-toggle="tab" href="#nav-<%= status %>" role="tab" aria-controls="nav-<%= status %>" aria-selected="false">
              <%= status.titleize %>
              <span class="badge badge-accent">
                <%= @orders.where(status: status).count %>
              </span>
            </a>
          <% end %>
        </div>
      </nav>

      <div class="tab-content" id="nav-tabContent">
        <% Order.statuses.keys.each do |status| %>
          <div class="tab-pane fade" id="nav-<%= status %>" role="tabpanel" aria-labelledby="nav-<%= status %>-tab">
            <% @orders.where(status: status).each do |order| %>
              <%= render(partial: 'orders/order', locals: {order: order}) ||
                      content_tag(:div, "There are no orders with this status right now.") %>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>