<header class="bg-primary pt-3 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-9 mx-auto">
        <div class="text-light">
          <div class="h2 text-center">
            Purchase items from
          </div>
          <div class="h1 text-center mb-5">
            Amazon to Ghana
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-body">
            <%= form_with(model: @product, local: true) do |form| %>

              <% if @product.errors.any? %>
                <div id="error_explanation mb-3">
                  <h2>
                    <%= pluralize(@product.errors.count, "error") %> prohibited your product from being
                    processed:
                  </h2>

                  <ul class="error-text">
                    <% @product.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="form-group">
                <%= form.label :item_url, "Link to the item on Amazon" %>
                <%= form.text_field :item_url,
                                    class: "form-control",
                                    required: true,
                                    placeholder: "eg. https://www.amazon.com/Echo-Dot/dp/B07FZ8S74R/ref=gbps_rlm_m-6_323c_ac092e40?smid=ATVPDKIKX0DER" %>
                <small id="item_url_help" class="form-text text-muted">
                  Find the item you want to purchase on
                  <a href="www.amazon.com" target="_blank">www.amazon.com</a>,
                  copy the link to it, and paste it above.
                </small>
              </div>
              <% unless user_signed_in? %>
                <div class="form-group">
                  <%= form.label :full_name %>
                  <%= form.text_field :full_name,
                                      required: true,
                                      autocomplete: 'name',
                                      class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= form.label :phone_number %>
                  <%= form.telephone_field :phone_number,
                                          required: true,
                                          autocomplete: 'tel',
                                          class: "form-control" %>
                  <small id="phone_help" class="form-text text-muted">
                    This number should be active so we can reach you when we're delivering your item
                  </small>
                </div>
              <% end %>

              <%= form.submit "Get Shipping Cost", class: "btn btn-accent btn-block", data: { disable_with: 'Please wait...' } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


<!-- Icons Grid -->
<section class="features-icons text-center py-5">
  <div class="container">
    <div class="row my-5">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex mb-3">
            <i class="fab fa-amazon fa-5x m-auto text-accent"></i>
          </div>
          <h3>Enter your Amazon link</h3>
          <p class="mb-0">Enter the Amazon link for the item you want to buy</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex mb-3">
            <i class="fas fa-hand-holding-usd fa-5x m-auto text-accent"></i>
          </div>
          <h3>Make payment</h3>
          <p class="mb-0">Pay via card or mobile money through ProcureSwift</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex mb-3">
            <i class="fas fa-truck fa-5x m-auto fa-fw text-accent"></i>
          </div>
          <h3>We purchase & deliver</h3>
          <p class="mb-0">ProcureSwift purchases the item and delivers it to you in Ghana</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center bg-primary text-light py-5">
  <div class="container">
    <h2 class="mb-5">What people are saying...</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3 px-5" src="img/1.jpg" alt="">
          <h5>Michael E.</h5>
          <p class="font-weight-light mb-0">
            "This is fantastic! Thanks so much guys!"
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3 px-5" src="img/2.jpg" alt="">
          <h5>Fred S.</h5>
          <p class="font-weight-light mb-0">
            "Thanks so much for opening up the world to us!"
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3 px-5" src="img/3.jpg" alt="">
          <h5>Sarah W.</h5>
          <p class="font-weight-light mb-0">
            "Procureswift is amazing. I've been using it to ship all our agric products."
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Products -->
<section class="products py-5">
  <div class="container">
    <h2 class="mb-5 text-center">What people bought recently</h2>

    <% @products.in_groups_of(3).each do |group| %>
      <div class="row">

        <% group.each do |product| %>
          <% unless product.nil? %>
            <div class="col-md-4 mb-2">
              <div class="card" style="height: 330px">
                <img class="card-img-top img-fluid" src="<%= product.main_image %>" alt="<%= product.title %>">
                <div class="card-body">
                  <a class="card-title h6 stretched-link text-decoration-none" href="<%= product_path product %>">
                    <%= truncate product.title, length: 60 %>
                  </a>
                  <div class="mb-1">
                    <small class="text-danger mr-2">
                      <%= number_to_currency product.default_price %>
                    </small>
                  </div>
                  <div class="mb-1 w-100 d-flex justify-content-start">
                    <div class="small mr-2">
                      <%= number_to_currency product.shipping_and_handling_by_air(product.default_price, 1) %>
                      by Air
                    </div>

                    <div class="mr-2">&middot;</div>
                    <div class="small">
                      <%= number_to_currency product.shipping_and_handling_by_sea(product.default_price, 1) %>
                      by Sea
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

      </div>
    <% end %>

  </div>
</section>

<!-- Footer -->
<footer class="footer py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <p class="text-muted small mb-4 mb-lg-0">&copy; ProcureSwift 2019. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="https://web.facebook.com/procureswift/">
              <i class="fab fa-facebook fa-2x fa-fw text-accent"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/procureswift/">
              <i class="fab fa-instagram fa-2x fa-fw text-accent"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>


<style>
  .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
</style>