<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :item_quantity, "Quantity" %>
    <%= form.number_field :item_quantity,
                          class: "form-control",
                          required: true,
                          min: 1,
                          placeholder: "Enter Quantity" %>

  </div>

  <div class="form-group">
    <%= form.label :delivery_method, "Delivery Method" %>
    <%= form.select :delivery_method,
                    choices = Order.delivery_methods.keys.map { |w| [w.humanize, w] },
                    options = {
                        selected: :by_sea
                    },
                    html_options = {
                        class: "form-control",
                        required: true
                    } %>
  </div>

  <div class="form-group">
    <%= form.label :delivery_region, "Region" %>
    <%= form.select :delivery_region,
                    choices = Order.delivery_regions.keys.map { |w| [w.humanize, w] },
                    options = {
                        selected: :greater_accra
                    },
                    html_options = {
                        class: "form-control",
                        required: true
                    } %>
  </div>

  <div class="form-group">
    <%= form.label :full_name %>
    <%= form.text_field :full_name,
                        required: true,
                        class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number,
                        required: true,
                        class: "form-control" %>
    <small id="phone_help" class="form-text text-muted">
      This number should be active so we can reach you when we're delivering your item
    </small>
  </div>


  <div class="actions">
    <%= form.submit class: "btn btn-accent btn-block" %>
  </div>
<% end %>