<div class="card mb-4">
  <div class="card-header">
    <div class="d-flex w-100 justify-content-between flex-wrap">
      <div>Order Placed: <%= order.cart&.paid_at&.to_date&.to_s(:long) %></div>
      <div>Total: <%= number_to_currency_gh dollar_to_cedi ShippingCalculator.new(order.cart).order_total %></div>
      <div>Ship To: <%= order.cart.full_name %></div>
      <div>
        <% if current_user.admin.eql?(true) %>
          <a href="<%= admin_order_path order %>">Order Details</a>
        <% else %>
          <a href="<%= order_path order %>">Order Details</a>
        <% end %>
      </div>
    </div>
  </div>

  <%= render partial: 'carts/cart_list', locals: { cart: order.cart } %>

</div>