<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-md-12">

      <table class="table table-responsive table-striped table-hover mb-5" id="products_table">
        <thead>
        <tr>
          <th>Item</th>
          <th>Title</th>
          <th>Details</th>
          <th>Qty</th>
          <th>Price</th>
          <th>Shipping Cost</th>
          <th>Total</th>
          <th>Method</th>
          <th>Payment Status</th>
          <th>Purchased?</th>
          <th>Address</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td style="width: 100px">
              <a href="<%= order.product.item_url %>" target="_blank">
                <img src="<%= order.product.main_image %>" class="card-img-top p-2 img-fluid" alt="...">
              </a>
            </td>
            <td class="small" style="width: 200px;">
              <%= truncate order.product.title, length: 200 %>
            </td>
            <td class="small" style="min-width: 200px;">
              <div class="mb-2">
                <div>width: <%= number_with_precision order.product.width, precision: 2 %>  <%= order.product.width_unit %></div>
                <div>length: <%= number_with_precision order.product.length, precision: 2 %>  <%= order.product.length_unit %></div>
                <div>depth: <%= number_with_precision order.product.depth, precision: 2 %>  <%= order.product.depth_unit %></div>
                <div>volume: <%= number_with_precision order.product.volume, precision: 2 %> cubic inches</div>
              </div>

              <div>
                <div>weight: <%= number_with_precision order.product.weight_in_pounds, precision: 2 %> <%= order.product.weight_unit %></div>
                <div>
                  weight_in_pounds: <%= number_with_precision order.product.weight_in_pounds, precision: 2 %>
                  pounds
                </div>
              </div>
            </td>

            <td><%= order.quantity %></td>
            <td>
              <%= number_to_currency order.product.default_price %>
            </td>

            <td>
              <%= number_to_currency order.price %>
            </td>

            <td>
              <%= number_to_currency order.order_total %>
            </td>
            <td><%= order.delivery_method&.titleize %></td>
            <td>
              <%= order.status&.titleize %>
            </td>
            <td>
              <%= order.purchased?.to_s.titleize %>
            </td>

            <td class="small" style="width: 200px;">
              <address>
                <%= order.region&.titleize %>
                <br>
                <br>
                <strong><%= order.full_name %></strong>
                <br>
                <%= order.address %>
                <br>
                <%= order.city_or_town %>
                <br>
                <%= order.email %>
                <br>
                <a href="tel:<%= order.phone_number %>"><%= order.phone_number %></a>
              </address>
            </td>

            <td>
              <%= link_to "Show", product_order_path(order.product, order) %>
            </td>
            <td>
              <%= link_to "Edit", edit_product_order_path(order.product, order) %>
            </td>
            <td><%= link_to 'Destroy', [order.product, order], method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>