<div class="container">
  
  <div class="row mt-3">

    <div class="col-md-12">

      <h3>Your Orders</h3>
      <hr>

      <% @orders.each do |order| %>
        <div class="card mb-4">
          <div class="card-header">
            <div class="d-flex w-100 justify-content-between flex-wrap">
              <div>Order Placed: <%= order.cart&.paid_at&.to_date&.to_s(:long) %></div>
              <div>Total: <%= number_to_currency_gh dollar_to_cedi order.order_total %></div>
              <div>Ship To: <%= order.cart.full_name %></div>
              <div>
                <a href="<%= order_path order %>">Order Details</a>
              </div>
            </div>
          </div>

          <ul class="list-group list-group-flush">
            <% order.cart.cart_items.order(created_at: :desc).each do |cart_item| %>
              <li class="list-group-item d-flex flex-column w-100 justify-content-start px-2">
                <a href="<%= product_path cart_item.product %>">
                  <div class="d-flex w-100 justify-content-start">
                    <img class="product-image mr-2" src="<%= cart_item.product.main_image %>" width="100" style="height: 100px">
                    <div>
                      <h6 class="mb-2"><%= truncate cart_item.product.title, length: 60 %></h6>
                      <div class="text-danger ml-auto mb-2"><%= number_to_currency_gh dollar_to_cedi cart_item.unit_price %></div>
                      <div>Qty: <%= cart_item.quantity %></div>
                    </div>
                  </div>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

    </div>
  </div>
</div>