<div class="container">
  <div class="row mt-3">
    <div class="col-md-7 mx-auto px-0">

      <div class="card mb-4">

        <div class="list-group list-group-flush">

          <% @orders.each do |order| %>
            <a href="<%= product_order_path(order.product, order) %>" class="list-group-item list-group-item-action d-flex flex-row align-items-start">

              <div class="product-image">
                <img class="mr-3" src="<%= order.product.main_image %>" width="120" alt="Generic placeholder image">
              </div>

              <div>
                <h6 class="mb-1"><%= truncate order.product.title, length: 60 %></h6>
                <div class="mb-1">
                  <small class="">
                    <span class="text-danger"><%= number_to_currency order.price %></span>
                    (x<%= order.quantity %>)
                  </small>

                  <div class="small mr-2">
                    <%= number_to_currency order.shipping_and_handling %>
                    <%= order.delivery_method&.titleize %>
                  </div>

                  <div class="small mr-2">
                    Total: <%= number_to_currency order.order_total %>
                  </div>

                </div>

              </div>

            </a>
          <% end %>

        </div>

      </div>

    </div>
  </div>
</div>