<style>
  .container {
    max-width: 70rem;
  }
</style>

<%= form_with(model: @order, local: false) do |form| %>

<div class="container">

  <div class="row mt-3">

    <div class="col-md-8">

      <div class="mb-4">
        <div class="card mb-3">

          <div class="card-body">
            <h5 class="card-title">Delivery Details</h5>

            <% if @order.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@order.errors.count, "error") %> prohibited this @order from being saved:</h2>

                <ul>
                  <% @order.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= form.label :full_name %>
              <%= form.text_field :full_name,
                                  required: true,
                                  class: "form-control" %>
            </div>

            <div class="form-group">
              <%= form.label :address %>
              <%= form.text_field :address,
                                  required: true,
                                  autocomplete: 'street-address',
                                  class: "form-control" %>
              <small>
                Eg. Total Filling Station behind the Kanda Overhead, House no. 5
              </small>
            </div>

            <div class="form-group">
              <%= form.label :town_or_city, "City/Town" %>
              <%= form.text_field :city_or_town,
                                  required: true,
                                  placeholder: "eg. Accra",
                                  class: "form-control" %>
            </div>

            <div class="form-group">
              <%= form.label :region, "Region" %>
              <%= form.select :region,
                              choices = Order.regions.keys.map { |w| [w.titleize, w] },
                              options = {
                                  include_blank: false
                              },
                              html_options = {
                                  class: "form-control"
                              } %>
            </div>

            <div class="form-group">
              <%= form.label :email %>
              <%= form.email_field :email,
                                   autocomplete: 'email',
                                   required: true,
                                   class: "form-control" %>
            </div>

            <div class="form-group">
              <%= form.label :phone_number %>
              <%= form.telephone_field :phone_number,
                                       required: true,
                                       autocomplete: 'tel',
                                       class: "form-control" %>
              <small id="phone_help" class="form-text text-muted">
                This number should be active so we can reach you when we're delivering your item
              </small>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-4">
      <%= render(layout: 'orders/costs_card', locals: { order: @order }) do %>
        <div class="actions">
          <%= form.submit "Make Payment (#{number_to_currency_gh dollar_to_cedi @order.order_total})", class: "btn btn-accent btn-block", id: "make_payment_button" %>
        </div>
    <% end %>
    </div>

  </div>

</div>

<% end %>
