<div class="container">

  <div class="row mt-3">

    <div class="col-lg-4">
      <div class="card mb-3">

        <img src="<%= @order.zinc_product_details["main_image"] %>"
             class="card-img-top p-2 img-fluid" alt="...">

        <div class="card-body">
          <h5 class="card-title">
            <%= @order.zinc_product_details["title"] %>
          </h5>
        </div>

      </div>
    </div>

    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-body">
          <%= render 'form', order: @order %>
        </div>
      </div>
    </div>

    <div class="col-lg-4">

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Order Summary</h5>
          <dl class="row mt-4">
            <dt class="col-9">Items (<%= @order.item_quantity %>):</dt>
            <dd class="col-3 text-right">
              <%= number_to_currency @order.items_cost %>
            </dd>

            <dt class="col-9">Shipping and Handling:</dt>
            <dd class="col-3 text-right">
              <%= number_to_currency @order.shipping_and_handling %>
              <hr>
            </dd>

            <dt class="col-9">Total before duty:</dt>
            <dd class="col-3 text-right">
              <%= number_to_currency @order.total_before_duty %>
            </dd>

            <dt class="col-9">Estimated duty to be collected:</dt>
            <dd class="col-3 text-right">
              <%= number_to_currency @order.estimated_duty %>
            </dd>

            <div class="col-12">
              <hr>
            </div>

            <dt class="col-9 text-truncate">Order Total:</dt>
            <dd class="col-3 text-right">
              <%= number_to_currency @order.order_total %>
            </dd>
          </dl>
          <div class="small text-center">
            Estimated delivery
            <strong>
              <%= @order.delivery_method.titleize %>
            </strong>
            to
            <br>
            <%= @order.delivery_region.titleize %> Region:
            <br>
            <span class="text-success">28th November</span>
            <br>
          </div>


          <div class="actions mt-3">
            <a class="btn  btn-success btn-block" onClick="payWithRave()">Make Payment</a>
          </div>

        </div>
      </div>

    </div>

  </div>

</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
<script>
  const publicKey = "FLWPUBK-8289a3561ffe0c40c4904e20d550db77-X";
  var txref = Math.floor(Math.pow(10, length - 1) + Math.random() * 9 * Math.pow(10, length - 1));
  function payWithRave() {
      var reference = txref;
      var phone = $('#phone_number').val();
      var name = $('#full_name').val();
      var email = $('#email').val();
      if (phone = "" || name == "" || email == "") {
        alert("Please fill out your name, email and phone number");
        return;
      }
      var shiping = "<%=  @order.shipping_and_handling %>";
      var price = "<%= @order.order_total %>";
      var quantity = "<%= @order.item_quantity %>";
      var orderId = "<%= @order.id %>"; 
      var x = getpaidSetup({
          PBFPubKey: publicKey,
          customer_email: email,
          amount: price,
          customer_phone: phone,
          currency: "USD",
          country: 'NG',
          txref: txref,
          meta: [{
              metaname: "shiping-to-ghana",
              metavalue: "AP1234"
          }],
          onclose: function() {},
          callback: function(response) {
              var txref = response.tx.txRef; // collect txRef returned and pass to a 					server page to complete status check.
              console.log("This is the response returned after a charge", response);
              if (
                  response.tx.chargeResponseCode == "00" ||
                  response.tx.chargeResponseCode == "0"
              ) {
                  //show success modal
                  window.location.href = '/payment?' + 'txtref=' + reference  + '&order_id=' + orderId + '&email=' + email + '&phone_number=' + phone + '&name=' + name + ''; 
              } else {
                  // show failure modal
              }

              x.close(); 
          }
      });
  }
</script>