<style>
  .container {
    max-width: 70rem;
  }
</style>

<div class="container">

  <div class="row mt-3">

    <div class="col-lg-4">
      <div class="card mb-3">

        <img src="<%= @order.main_image %>" class="card-img-top p-2 img-fluid" alt="...">

        <div class="card-body">
          <h6 class="card-title">
            <%= @order.title %>
          </h6>

<!--          <p class="card-text">-->
            <%#= @order.product_details %>
<!--          </p>-->

<!--          <div>width: <%#= @order.width %>  <%#= @order.width_unit %></div>-->
<!--          <div>length: <%#= @order.length %>  <%#= @order.length_unit %></div>-->
<!--          <div>depth: <%#= @order.depth %>  <%#= @order.depth_unit %></div>-->
<!--          <div>volume: <%#= @order.volume %> cubic inches</div>-->
<!--          <div>weight: <%#= @order.weight %> <%#= @order.weight_unit %></div>-->


          <a href="<%= @order.item_url %>" target="_blank">View in Amazon</a>


        </div>

      </div>
    </div>

    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-body">
          <%= render 'form', order: @order %>
        </div>
      </div>
    </div>

    <div class="col-lg-4">

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Order Summary</h5>
          <dl class="row mt-4">
            <dt class="col-8">Items (<%= @order.item_quantity %>):</dt>
            <dd class="col-4 text-right">
              <%= number_to_currency @order.items_cost %>
            </dd>

            <dt class="col-8">Shipping and Handling:</dt>
            <dd class="col-4 text-right">
              <%= number_to_currency @order.shipping_and_handling %>
              <hr>
            </dd>

            <dt class="col-8">Total before duty:</dt>
            <dd class="col-4 text-right">
              <%= number_to_currency @order.total_before_duty %>
            </dd>

            <dt class="col-8">Estimated duty to be collected:</dt>
            <dd class="col-4 text-right">
              <%= number_to_currency @order.estimated_duty %>
            </dd>

            <div class="col-12">
              <hr>
            </div>

            <dt class="col-8 text-truncate">Order Total:</dt>
            <dd class="col-4 text-right">
              <%= number_to_currency @order.order_total %>
            </dd>
          </dl>
          <div class="small text-center">
            Estimated delivery
            <strong>
              <%= @order.delivery_method.titleize %>
            </strong>
            to
            <br>
            <%= @order.delivery_region.titleize %> Region:
            <br>
            <span class="text-success">
              <%= @order.estimated_delivery_date %>
            </span>
            <br>
          </div>

          <hr>

          <%= form_with(model: @order, local: false) do |form| %>
            <% if @order.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

                <ul>
                  <% @order.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= form.label :full_name %>
              <%= form.text_field :full_name,
                                  id: 'full_name',
                                  required: true,
                                  class: "form-control" %>
            </div>

            <div class="form-group">
              <%= form.label :email %>
              <%= form.text_field :email,
                                  id: 'email',
                                  required: true,
                                  class: "form-control" %>
            </div>

            <div class="form-group">
              <%= form.label :phone_number %>
              <%= form.text_field :phone_number,
                                  id: 'phone_number',
                                  required: true,
                                  class: "form-control" %>
              <small id="phone_help" class="form-text text-muted">
                This number should be active so we can reach you when we're delivering your item
              </small>
            </div>


            <div class="actions">
              <%= form.submit "Make Payment", class: "btn btn-accent btn-block", id: "make_payment_button" %>
            </div>
          <% end %>
        </div>
      </div>

    </div>

  </div>

</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>