<div class="container">

  <div class="row mt-3">

    <div class="col-lg-4">
      <div class="card mb-3">

        <img src="<%= @order.zinc_product_details["main_image"] %>"
             class="card-img-top p-2 img-fluid" alt="...">

        <div class="card-body">
          <h5 class="card-title">
            <%= @order.zinc_product_details["title"] %>
          </h5>
        </div>

      </div>
    </div>

    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-body">
          <%= render 'form', order: @order %>
        </div>
      </div>
    </div>

    <div class="col-lg-4">

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Order Summary</h5>
          <dl class="row mt-4">
            <dt class="col-9">Items (<%= @order.item_quantity %>):</dt>
            <dd class="col-3 text-right">
              <%= number_to_currency @order.items_cost %>
            </dd>

            <dt class="col-9">Shipping and Handling:</dt>
            <dd class="col-3 text-right">
              <%= number_to_currency @order.shipping_and_handling %>
              <hr>
            </dd>

            <dt class="col-9">Total before duty:</dt>
            <dd class="col-3 text-right">
              <%= number_to_currency @order.total_before_duty %>
            </dd>

            <dt class="col-9">Estimated duty to be collected:</dt>
            <dd class="col-3 text-right">
              <%= number_to_currency @order.estimated_duty %>
            </dd>

            <div class="col-12">
              <hr>
            </div>

            <dt class="col-9 text-truncate">Order Total:</dt>
            <dd class="col-3 text-right">
              <%= number_to_currency @order.order_total %>
            </dd>
          </dl>
          <div class="small text-center">
            Estimated delivery
            <strong>
              <%= @order.delivery_method.titleize %>
            </strong>
            to
            <br>
            <%= @order.delivery_region.titleize %> Region:
            <br>
            <span class="text-success">28th November</span>
            <br>
          </div>


          <div class="actions mt-3">
            <a href="#" class="btn  btn-success btn-block">Make Payment</a>
          </div>

        </div>
      </div>

    </div>

  </div>

</div>