<footer class="bg-primary py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
                <a href="<%= root_path %>">
                    <%= image_tag "/img/Procurewift-17.png", height: "60", alt: "" %>
                </a>
                <small class="d-block mb-3 text-muted ml-3">&copy; 2017 - <%= Date.today.year %></small>
            </div>
            <div class="col-6 col-md">
                <h6 class="text-light">Let us help you</h6>
                <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Partner us</a></li>
                <li><a class="text-muted" href="#">How it works</a></li>
                <li><a class="text-muted" href="#">Stuff for developers</a></li>
                <li><a class="text-muted" href="#">Refund and return policy</a></li>
                <li><a class="text-muted" href="#">Coporate and bulk purchase</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h6 class="text-light">About ProcureSwift</h6>
                <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Careers</a></li>
                <li><a class="text-muted" href="#">About Us</a></li>
                <li><a class="text-muted" href="#">Testimonials</a></li>
                <li><a class="text-muted" href="<%= privacy_policy_path %>">Privacy Policy</a></li>
                <li><a class="text-muted" href="<%= terms_and_conditions_path %>">Terms and Conditions</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h6 class="text-light">Contact Us</h6>
                <ul class="list-unstyled text-small">
                <li>
                    <a class="text-muted" href="#">Email: procureswift@buildpals.com</a>
                </li>
                <li>
                    <a class="text-muted" href="#">Phone: +233 541400077</a>
                </li>
                <li>
                    <p class="text-muted">Physical Address: 19 Banana Street, East Legon - Accra<, Ghana</p>
                </li>
                <li class="mt-3">
                    <a href="https://www.instagram.com/procureswift/" target="_blank">
                    <i class="fab fa-instagram fa-2x fa-fw text-accent"></i>
                    </a>
                    <a href="https://web.facebook.com/procureswift/" target="_blank">
                    <i class="fab fa-facebook fa-2x fa-fw text-accent"></i>
                    </a>
                </li>
                </ul>
            </div>
        </div>
    </div>
</footer>