<!-- Modal for purcashing new item -->
<div class="modal fade" id="getShippingCostModal" tabindex="-1" role="dialog" aria-labelledby="getShippingCostModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header new-product-header">
                <h5 class="modal-title" id="getShippingCostModalLabel">Purchase new item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card mb-4 no-border">
                    <div class="card-body">
                    <%= form_with(model: product, local: true) do |form| %>

                        <% if @product.errors.any? %>
                        <div id="error_explanation mb-3">
                            <h2>
                            <%= pluralize(product.errors.count, "error") %> prohibited your product from being
                            processed:
                            </h2>

                            <ul class="error-text">
                            <% product.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                            <% end %>
                            </ul>
                        </div>
                        <% end %>

                        <div class="form-group">
                        <%= form.label :item_url, "Link to the item on Amazon" %>
                        <%= form.text_field :item_url,
                                            class: "form-control",
                                            required: true,
                                            placeholder: "eg. https://www.amazon.com/Echo-Dot/dp/B07FZ8S74R/ref=gbps_rlm_m-6_323c_ac092e40?smid=ATVPDKIKX0DER" %>
                        <small id="item_url_help" class="form-text text-muted">
                            Find the item you want to purchase on
                            <a href="www.amazon.com" target="_blank">www.amazon.com</a>,
                            copy the link to it, and paste it above.
                        </small>
                        </div>
                        <% unless user_signed_in? %>
                        <div class="form-group">
                            <%= form.label :full_name %>
                            <%= form.text_field :full_name,
                                                required: true,
                                                autocomplete: 'name',
                                                class: "form-control" %>
                        </div>

                        <div class="form-group">
                            <%= form.label :phone_number %>
                            <%= form.telephone_field :phone_number,
                                                    required: true,
                                                    autocomplete: 'tel',
                                                    class: "form-control" %>
                            <small id="phone_help" class="form-text text-muted">
                            This number should be active so we can reach you when we're delivering your item
                            </small>
                        </div>
                        <% end %>

                        <%= form.submit "Get Shipping Cost", class: "btn btn-accent btn-block", data: { disable_with: 'Please wait...' }  %>
                    <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>