<%= form_with(model: product, local: false) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :chosen_offer_id, "Price Offers" %>
    <%= form.collection_radio_buttons :chosen_offer_id,
                                      @product.offers,
                                      value_method = :last,
                                      text_method = :first do |b| %>
      <div class="form-check">
        <%= b.radio_button class: "form-check-input", onclick: 'this.form.submit();' %>
        <%= b.label class: "form-check-label", onclick: 'this.form.submit();' %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :item_quantity, "Quantity" %>
    <%= form.select :item_quantity,
                    choices = (1..50).map { |w| [w, w] },
                    options = {
                        include_blank: false
                    },
                    html_options = {
                        class: "form-control",
                        onchange: 'this.form.submit();'
                    } %>
  </div>

  <div class="form-group">
    <%= form.label :delivery_method, "Delivery Method" %>
    <%= form.select :delivery_method,
                    choices = Product.delivery_methods.keys.map { |w| [w.titleize, w] },
                    options = {
                        include_blank: false
                    },
                    html_options = {
                        class: "form-control",
                        onchange: 'this.form.submit();'
                    } %>
  </div>
<% end %>