<li class="media border-bottom py-3">
  <a href="<%= product_path product.id %>">
    <img class="ml-1 mr-3 product-image product-search-image"
         src="<%= product.main_image %>"
         alt="<%= product.title %>">
  </a>
  <div class="media-body">
    <a href="<%= product_path product.id %>"><h5 class="h6 mt-0 mb-1"><%= product.title %></h5></a>
    <div class="h5">
      <%= number_to_currency(product.price) %>
    </div>
    <div>
      Stars: <%= product.stars %>
    </div>
    <div>
      Reviewers: <%= product.num_reviews %>
    </div>
  </div>
</li>