<div class="container">
  <div class="row mt-3">
    <div class="col-md-7 mx-auto px-0">

      <div class="card mb-4">
        <div class="list-group list-group-flush">
          <% @products.each do |product| %>
            <a href="<%= product_path product %>" class="list-group-item list-group-item-action d-flex flex-row align-items-start">

              <div class="product-image">
                <img class="mr-3" src="<%= product.main_image %>" width="120" alt="Generic placeholder image">
              </div>

              <div>
                <h6 class="mb-1"><%= truncate product.title, length: 60 %></h6>
                <div class="mb-1">
                  <small class="text-danger">
                    <%= number_to_currency product.default_price %>
                  </small>
                  <div class="small mr-2">
                    <%= number_to_currency product.shipping_and_handling_by_air(product.default_price, 1) %>
                    by Air
                  </div>
                  <div class="small">
                    <%= number_to_currency product.shipping_and_handling_by_sea(product.default_price, 1) %>
                    by Sea
                  </div>
                </div>
              </div>

            </a>
          <% end %>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-7 mx-auto">
      <div class="card mb-4">
        <div class="card-body">

          <h5 class="card-title text-center">
            Didn't find what you were looking for?
          </h5>

          <p class="mb-4 text-center emphasis">
            <em>Search for the product on <a href="www.amazon.com">Amazon</a> and put the link to it in the form below:</em>
          </p>

          <%= form_with(model: @product, local: false) do |form| %>

            <% if @product.errors.any? %>
              <div id="error_explanation mb-3">
                <h2>
                  <%= pluralize(@product.errors.count, "error") %> prohibited your product from being
                  processed:
                </h2>

                <ul class="text-danger">
                  <% @product.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= form.label :item_url, "Link to the item on Amazon" %>
              <%= form.text_field :item_url,
                                  class: "form-control",
                                  required: true,
                                  placeholder: "eg. https://www.amazon.com/Echo-Dot/dp/B07FZ8S74R/ref=gbps_rlm_m-6_323c_ac092e40?smid=ATVPDKIKX0DER" %>
              <small id="item_url_help" class="form-text text-muted">
                Find the item you want to purchase on
                <a href="www.amazon.com" target="_blank">www.amazon.com</a>,
                copy the link to it, and paste it above.
              </small>
            </div>

            <div class="form-group">
              <%= form.label :full_name %>
              <%= form.text_field :full_name,
                                  required: true,
                                  autocomplete: 'name',
                                  class: "form-control" %>
            </div>

            <div class="form-group">
              <%= form.label :phone_number %>
              <%= form.telephone_field :phone_number,
                                       required: true,
                                       autocomplete: 'tel',
                                       class: "form-control" %>
              <small id="phone_help" class="form-text text-muted">
                This number should be active so we can reach you when we're delivering your item
              </small>
            </div>

            <%= form.submit "Get Shipping Cost", class: "btn btn-accent btn-block" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>