<div class="container">

  <div class="row mt-3">
    <div class="col-lg-12">
      <h3>Showing results for <em><%= params[:query] %></em></h3>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mx-auto">
      <ul class="list-unstyled">
        <% @products.each do |product| %>
          <li class="media border-bottom py-3">
            <a href="<%= product_path product.id %>">
              <img class="mr-5 product-image"
                   src="<%= product.main_image %>"
                   alt="<%= product.title %>"
                   style="width: 223px; height: 213px">
            </a>
            <div class="media-body">
              <a href="<%= product_path product.id %>"><h5 class="h6 mt-0 mb-1"><%= product.title %></h5></a>
              <div class="h5">
                <%= number_to_currency(product.price) %>
              </div>
              <div>
                Stars: <%= product.stars %>
              </div>
              <div>
                Reviewers: <%= product.num_reviews %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>