<div class="container">
  <div class="row mt-3">
    <div class="col-md-7 mx-auto px-0">

      <div class="card mb-4">
        <div class="list-group list-group-flush">
          <% @products.each do |product| %>
            <a href="<%= product_path product %>" class="list-group-item list-group-item-action d-flex flex-row align-items-start">

              <div class="product-image">
                <img class="mr-3" src="<%= product.main_image %>" width="120" alt="Generic placeholder image">
              </div>

              <div>
                <h6 class="mb-1"><%= truncate product.title, length: 60 %></h6>
                <div class="mb-1">
                  <small class="text-danger">
                    <%= number_to_currency product.default_price %>
                  </small>
                  <div class="small mr-2">
                    <%= number_to_currency product.shipping_and_handling_by_air(product.default_price, 1) %>
                    by Air
                  </div>
                  <div class="small">
                    <%= number_to_currency product.shipping_and_handling_by_sea(product.default_price, 1) %>
                    by Sea
                  </div>
                </div>
              </div>

            </a>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>