<style>
  .container {
    max-width: 70rem;
  }
</style>

<div class="container">

  <div class="row mt-3">

    <div class="col-lg-4">
      <div class="card mb-3" id="product_details">
        <a href="<%= @product.item_url %>" target="_blank">
          <img src="<%= @product.main_image %>"
               class="card-img-top p-2 img-fluid">
        </a>

        <div class="card-body pt-0 pb-2 border-bottom">
          <h5 class="h5 card-title mb-1">
            <%= @product.title %>
          </h5>

          <% if @offer %>
            <div class="small mb-2">by <%= @offer.seller_name %></div>

            <div class="h6 text-danger">
              <%= number_to_currency @offer.price %>
            </div>

            <div class="flex-column align-items-start">
              <p class="small text-muted">
                Condition: <%= @offer.condition %> <br>
                Positive
                Reviews: <%= number_to_percentage(@offer.seller_percent_positive, precision: 0) %>
                <br>
                Number of
                Reviews: <%= number_with_delimiter @offer.seller_num_ratings %>
                <br>
                Ships within
                <%= @offer.handling_days_min %>
                to <%= @offer.handling_days_max %> days
              </p>
            </div>
          <% else %>
            <p class="text-center text-muted mt-4">
              There are no available offers for this product
            </p>
          <% end %>

          <% if @offer && @offer.weight && @offer.price %>
            <div class="mb-3">
            <% if current_user %>
              <%= form_with(model: CartItem.new, local: true) do |form| %>
                <%= form.hidden_field :seller_num_ratings, value: @offer.seller_num_ratings %>
                <%= form.hidden_field :seller_percent_positive, value: @offer.seller_percent_positive %>
                <%= form.hidden_field :seller_first_party, value: @offer.seller_first_party %>
                <%= form.hidden_field :seller_name, value: @offer.seller_name %>
                <%= form.hidden_field :seller_id, value: @offer.seller_id %>
                <%= form.hidden_field :marketplace_fulfilled, value: @offer.marketplace_fulfilled %>
                <%= form.hidden_field :international, value: @offer.international %>
                <%= form.hidden_field :offer_id, value: @offer.id %>
                <%= form.hidden_field :available, value: @offer.available %>
                <%= form.hidden_field :handling_days_max, value: @offer.handling_days_max %>
                <%= form.hidden_field :handling_days_min, value: @offer.handling_days_min %>
                <%= form.hidden_field :prime_only, value: @offer.prime_only %>
                <%= form.hidden_field :condition, value: @offer.condition %>
                <%= form.hidden_field :addon, value: @offer.addon %>
                <%= form.hidden_field :shipping_options, value: @offer.shipping_options %>

                <%= form.hidden_field :unit_price, value: @offer.price %>
                <%= form.hidden_field :weight, value: @offer.product.weight %>

                <%= form.hidden_field :product_id, value: @offer.product.product_id %>
                <%= form.hidden_field :retailer, value: @offer.product.retailer %>

                <%= form.hidden_field :title, value: @offer.product.title %>
                <%= form.hidden_field :main_image, value: @offer.product.main_image %>
                <%= form.hidden_field :width, value: @offer.product.width %>
                <%= form.hidden_field :length, value: @offer.product.length %>
                <%= form.hidden_field :depth, value: @offer.product.depth %>

                <%= form.submit 'Add to Cart', class: 'btn btn-block btn-accent', id: 'checkout_button' %>
              <% end %>
            <% else %>
              <%= link_to 'Add to Cart',
                          new_user_registration_path,
                          class: 'btn btn-block btn-accent',
                          id: 'checkout_button',
                          notice: 'You need to login before you can purchase' %>
            <% end %>
          </div>
          <% else %>
            <div class="card-body text-center text-danger">
              Item cannot be shipped by ProcureSwift because we could not
              determine it's weight.
            </div>
          <% end %>

        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card mb-3" id="product_dimensions">
        <div class="card-body">
          <h6 class="card-title">
            Product Details
          </h6>

          <div class="row mb-2">
            <div class="col-4">Width:</div>
            <div class="col-8 text-right">
              <%= "#{number_with_precision(@product.width, precision: 2)} inches" if @product.width %>
            </div>

            <div class="col-4">Length:</div>
            <div class="col-8 text-right">
              <%= "#{number_with_precision(@product.length, precision: 2)} inches" if @product.length %>
            </div>

            <div class="col-4">Depth:</div>
            <div class="col-8 text-right">
              <%= "#{number_with_precision(@product.depth, precision: 2)} inches" if @product.depth %>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-4">Weight:</div>
            <div class="col-8 text-right">
              <%= number_with_precision @product.weight, precision: 2 %> pounds
            </div>
          </div>

          <div>
            <%= raw @product.product_description %>
          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-4">
      <div class="card mb-3" id="other_offers">
        <div class="card-body pb-0 mb-0 border-bottom">
          <h6 class="card-title">
            Other Offers
          </h6>
        </div>

        <div class="list-group list-group-flush mb-3">
          <%= render(@product.offers.reject { |offer| offer.id == @offer.id }) ||
                  content_tag(:div,
                              'There are no other offers for this product.',
                              class: 'list-group-item text-muted') %>
        </div>
      </div>
    </div>

  </div>

</div>