<style>
  .container {
    max-width: 70rem;
  }
</style>

<div class="container">

  <div class="row mt-3">

    <div class="col-lg-4">
      <div class="card mb-3">

        <img src="<%= @product.main_image %>" class="card-img-top p-2 img-fluid" alt="...">

        <div class="card-body">
          <h6 class="card-title">
            <%= @product.title %>
          </h6>

          <a href="<%= @product.item_url %>" target="_blank">View in Amazon</a>


        </div>

      </div>
    </div>

    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-body">
          <%= render 'form', product: @product %>
        </div>
      </div>
    </div>

    <div class="col-lg-4">

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Product Summary</h5>
          <dl class="row mt-4">
            <dt class="col-8">Items (<%= @product.item_quantity %>):</dt>
            <dd class="col-4 text-right">
              <%= number_to_currency @product.items_cost %>
            </dd>

            <dt class="col-8">Shipping and Handling:</dt>
            <dd class="col-4 text-right">
              <%= number_to_currency @product.shipping_and_handling %>
              <hr>
            </dd>

            <dt class="col-8">Total before duty:</dt>
            <dd class="col-4 text-right">
              <%= number_to_currency @product.total_before_duty %>
            </dd>

            <dt class="col-8">Estimated duty to be collected:</dt>
            <dd class="col-4 text-right">
              <%= number_to_currency @product.estimated_duty %>
            </dd>

            <div class="col-12">
              <hr>
            </div>

            <dt class="col-8 text-truncate">Product Total:</dt>
            <dd class="col-4 text-right">
              <%= number_to_currency @product.product_total %>
            </dd>
          </dl>
          <div class="small text-center">
            Estimated delivery
            <strong>
              <%= @product.delivery_method&.titleize %>
            </strong>
            to
            <br>
            <%= @product.delivery_region&.titleize %> Region:
            <br>
            <span class="text-success">
              <%= @product.estimated_delivery_date.to_formatted_s(:long) %>
            </span>
            <br>
          </div>

          <br>

          <a href="<%= checkout_path @product %>" class="btn btn-block btn-accent" id="checkout_button">Checkout</a>

        </div>
      </div>

    </div>

  </div>

</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>