<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://res.cloudinary.com/tenderswift/image/upload/c_scale,h_32/v1564315094/ProcureSwiftLogos/procureswift-square.png"
        rel="icon">

  <title>ProcureSwift</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_include_tag '/main.js', 'data-turbolinks-track': 'reload' %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<!-- Just an image -->
<nav class="navbar navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">
      <%= image_tag "/img/Procurewift-17.png", height: "60", alt: "" %>
    </a>

    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class=nav-item">
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>
        </li>
      <% else %>
        <li class=nav-item">>
          <%= link_to('Login', new_user_session_path, class: "nav-link") %>
        </li>
      <% end %>
    </ul>

  </div>
</nav>

<section class="container">
  <% if notice %>
    <div class="alert alert-info mt-3" role="alert">
      <%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

  <% if alert %>
    <div class="alert alert-danger mt-3" role="alert">
      <%= alert %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
</section>

<%= yield %>
</body>
</html>
